body{
    font-family: 'Open Sans', sans-serif;
    color:black;
    background: rgb(255, 255, 255);
}
input{padding: 10px;
font-family: 'Open Sans', sans-serif; border:black 1px solid;}

button{padding: 20px;border-radius: 5px;background-color: dodgerblue;color:white;border: none;}
button:hover{cursor: pointer;opacity: 70%;}
a{color: dodgerblue;text-decoration: none;}
a:hover{text-decoration: underline;}
input[type=radio]{height:40px;width:40px;accent-color: grey;}
input[type=checkbox]{height:40px;width:40px;accent-color: grey;}
input[type=radio], input[type=checkbox]:hover{cursor:pointer}
label{font-family:'Open Sans', sans-serif}
button span{color:white;}
h2{color:dodgerblue;text-align: center;}
.quiz{padding: 20px;background-color: wheat;font-family: 'Open Sans', sans-serif;}

